body {
  font-family: serif;
  font-weight: 100;
  margin: 1em 7em 0 7em;
  color: #333;
  font-size: 1.2em;
}

h1 {
  background-color: #01b69b;
  font-family: sans-serif;
  color: #fff;
  font-weight: lighter;
  padding: 1em 0 0.8em 0.5em;
  font-size: 1.5em
}

span {
  color: #01b69b;
  font-weight: bold;
}

.email-type {
  color: #333;
  font-weight: normal;
  border-bottom: dashed 0.1em #01b69b
}

li {
  list-style: none;
  margin-bottom: 0.4em;
}
